{% extends "base_generic.html" %}
{% block content %}

<div class="caja" style="color: white;">
    <center>
        <h1>Crea una entrada!</h1>
    </center>
    
    <form action="" method="post" enctype="multipart/form-data"> <!--esto es para que funcionen las imagenes-->
        {% csrf_token %}
        <table style="margin-left:200px; margin-top: 20px;">
            {{form.as_table}}
        </table>
        <input style="margin-left:200px; margin-top: 20px;" class="btn btn-primary" type="submit" value="Enviar">
        
        <a href="{% url 'entrada' %}" class="btn btn-primary" style="float: right; margin-right: 40px;">Atrás</a>
    </form>
</div>

<br>
<br>
<br>

{% endblock %}