.caja{
    background-color:#9D6FDE;
    color: black;
    padding-bottom: 40px;
    padding-top: 40px;

}

.caja button{
    color: black;
    background-color: white;
    border-radius: 1px;

    padding-left: 40px;
    padding-right: 40px;
}

/*#7968D0*/
